<%= form_with model: @task do |form| %>
  
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :creator %>
    <%= form.text_field :creator %>
  </div>

  <div>
    <%= form.label :performer %>
    <%= form.text_field :performer %>
  </div>

  <div>
    <%= form.label :completed %>
    <%# <%= form.check_box :completed, {}, '1', '0' %>
    <%# <%= form.check_box :completed, checked_value: true, unchecked_value: false %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>